body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.loader {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}